/** @format */

.whatsapp {
    color: #28d146;
    display: inline-block;
    font-weight: inherit;

    img {
        display: inline-block;
        vertical-align: sub;
        width: 2.3ch;
    }

    span {
        margin-left: -1px;
    }
}
